# back-end
back-end/**/node_modules/

# front-end
front-end/**/node_modules/
front-end/**/dist/
front-end/**/dist-ssr/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# local env
*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
